.home-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 2%;
}

.cannon-img, .shawnee-img {
    display: flex;
    max-width: 90%;
}

.home-info > p {
    max-width: 90%;
    font-size: 120%;
    border: solid #3c587c;
    padding: 1%;
}